.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item {
  width: 500px;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.paginationButton {
  background-color: white;
  border: 1px solid black;
  margin: 5px;
}

.paginationButton:hover {
  background-color: lightblue;
}